<html>
    <head>
        <title>one post</title>
    </head>
    <body>
        <span>
            {{dataToBeSent.date}}</span>
        
        <img src='{{dataToBeSent.filepath}}'> 
        <p>
            {{dataToBeSent.dataCaption}}
        </p>
    </body>
</html>