<html>
  <head>
    <title>socket client</title>
    <script src="https://cdn.socket.io/4.8.3/socket.io.min.js"></script>
    <script src="main.js"></script>
  </head>
  <body>
  <p>you are client {{numClient}}</p>
    <form id="form">
      <input type="text" id="input" />
      <input type="submit" value="silly note" />
    </form>

    <div id = "all-messages"></div>
  </body>
</html>
